<div class="col-xs-3">
  <h3>Filter Results</h3>

  <%= form_for(:volunteer, html: {class: "form-horizontal"}) do |f| %>
    <h3>Service</h3>
    <%= render 'shared/make_filter_group',
      outer_class: "boxes-select boxes-select-medium well",
      groups: Volunteer.pluck('DISTINCT service').sort! %>

    <h3>Cause</h3>
    <%= render 'shared/make_filter_group',
      outer_class: "boxes-select boxes-select-short well",
      groups: Volunteer.pluck('DISTINCT cause').sort! %>

    <h3>Region</h3>
    <%= render 'shared/make_filter_group',
      outer_class: "boxes-select boxes-select-short well",
      groups: Volunteer.pluck('DISTINCT work_region').sort! %>
  
  <% end %>

  <button class="btn btn-large btn-primary">Apply</button>  
</div>

<div class="col-xs-9">
  <h3><%= pluralize(@volunteers.count, ' volunteers') %> found</h3>
  <table class="table table-hover volunteers">
    <thead>
      <tr>
        <th>#</th>
        <th><%= sortable "service", "Service" %></th>
        <th><%= sortable "remote_status", "Remote Work?" %></th>
        <th><%= sortable "cause", "Cause" %></th>
        <th><%= sortable "work_region", "Work Region" %></th>
      </tr>
    </thead>
    <tbody>
      <% @volunteers.each_with_index do |vol, vCount| %>
          <tr onclick="location.href='<%= volunteer_path(vol) %>'">
            <!-- Item number -->
            <td><%= (@volunteers.current_page - 1) * @volunteers.per_page + (vCount + 1) %></td>
            <td><%= vol.service %></td>
            <td><%= vol.remote_status %></td>
            <td><%= vol.cause %></td>
            <td><%= vol.work_region %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @volunteers, renderer: BootstrapPagination::Rails %>
</div>