<div class="col-xs-3">
  <h3>Filter Results</h3>

  <%= form_for(:volunteer, url: volunteers_path, html: {class: "form-horizontal", method: 'get'}) do |f| %>
    <h3>Service</h3>
    <%= render 'shared/make_filter_group',
      outer_class: "boxes-select boxes-select-medium well",
      groups: Volunteer.pluck('DISTINCT service').sort!,
      input_field_name: 'filters[service][]',
      checked_values: (params["filters"]["service"] rescue []) %>
    <h3>Cause</h3>
    <%= render 'shared/make_filter_group',
      outer_class: "boxes-select boxes-select-short well",
      groups: Volunteer.pluck('DISTINCT cause').sort!,
      input_field_name: 'filters[cause][]',
      checked_values: (params["filters"]["cause"] rescue []) %>
    <h3>Region</h3>
    <%= render 'shared/make_filter_group',
      outer_class: "boxes-select boxes-select-short well",
      groups: Volunteer.pluck('DISTINCT work_region').sort!,
      input_field_name: 'filters[work_region][]',
      checked_values: (params["filters"]["work_region"] rescue []) %>

    <%= submit_tag(value = "Apply", { class: "btn btn-large btn-primary" }) %>
  <% end %>
</div>

<div class="col-xs-9">
  <h3>
    <%= pluralize(@volunteers.count, ' volunteer') %> found
    <% if params['filters'].present? %>
      <small>
        <%= link_to "Clear filters", volunteers_path %>
      </small>
    <% end %>
  </h3>
  <table class="table table-hover volunteers">
    <thead>
      <tr>
        <th>#</th>
        <th><%= sortable "service", "Service", { :filters => params['filters'] } %></th>
        <th><%= sortable "remote_status", "Remote Work?", { :filters => params['filters'] } %></th>
        <th><%= sortable "cause", "Cause", { :filters => params['filters'] } %></th>
        <th><%= sortable "work_region", "Work Region", { :filters => params['filters'] } %></th>
      </tr>
    </thead>
    <tbody>
      <% @volunteers.each_with_index do |vol, vCount| %>
          <tr onclick="location.href='<%= volunteer_path(vol) %>'">
            <!-- Item number -->
            <td><%= (@volunteers.current_page - 1) * @volunteers.per_page + (vCount + 1) %></td>
            <td><%= vol.service %></td>
            <td><%= vol.remote_status %></td>
            <td><%= vol.cause %></td>
            <td><%= vol.work_region %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @volunteers, renderer: BootstrapPagination::Rails %>
</div>
