<% provide(:title, "Sign in") %>

  <div class="container">
    <h1 class="col-md-offset-1">Sign in</h1>

    <%= form_for(:session, url: sessions_path, html: {class: "form-horizontal"}) do |f| %>

      <div class="form-group">
        <%= f.label :email, class: "col-sm-2 control-label" %>
        <%= f.text_field :email, class: "col-sm-4", autofocus: "true" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "col-sm-2 control-label" %>
        <%= f.password_field :password, class: "col-sm-4" %>
        <a href="#" style="margin:10px;">Forgot my password!</a>
      </div>

      <%= f.submit "Sign in", class: "btn btn-lg btn-primary col-sm-2 col-md-offset-2" %>

    <% end %>


    <br />
    <br />
    <br />
    <hr>
    <div class="col-md-offset-1">
      <h2>New user?</h2>
    </div>
    <br />
    <%= button_to "Register now!", register_path,
      :class => "btn btn-primary btn-large col-sm-2 col-md-offset-2", :method => :get %></p>

  </div>
  