<!-- Read-only NGO form-->
<span class="timestamp">
  Created <%= time_ago_in_words(ngo.created_at) %> ago
</span>
<br /><br />

<%= form_for(:ngo, html: {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-3 control-label" %>
    <%= f.text_field :name, class: "col-sm-4", readonly: "readonly" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_phone, class: "col-sm-3 control-label" %>
    <%= f.text_field :contact_phone, class: "col-sm-4", readonly: "readonly" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_city, class: "col-sm-3 control-label" %>
    <%= f.text_field :contact_city, class: "col-sm-4", readonly: "readonly" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_country, class: "col-sm-3 control-label" %>
    <%= f.text_field :contact_country, class: "col-sm-4", readonly: "readonly" %>
  </div>
<% end %>

<% if ! (@vacancies.nil?) %>
  <!-- Show this NGO's vacancies-->
  <% if @vacancies.count > 0 %>
    <h3>My Vacancies</h3>
    <ol class="vacancies">
      <%= render @vacancies %>
    </ol>
  <% else %>
    <!-- No vacancies to display-->
  <% end %>
<% end %>
