<!-- Vacancies index-->
<div class="col-xs-3">
  <form action='/vacancies' method='get'>
    <h3>Filter Results</h3>

    <h3>Work Region</h3>
    <%= render 'shared/make_filter_group',
        outer_class: "boxes-select boxes-select-short well",
        groups: Vacancy.pluck('DISTINCT work_region').sort!,
        input_field_name: 'filters[work_region][]',
        checked_values: (params["filters"]["work_region"] rescue []) %>

    <h3>Service</h3>
    <%= render 'shared/make_filter_group',
        outer_class: "boxes-select boxes-select-short well",
        groups: Volunteer.pluck('DISTINCT service').sort!,
        input_field_name: 'filters[service][]',
        checked_values: (params["filters"]["service"] rescue []) %>

    <h3>NGO</h3>
    <%= render 'shared/make_filter_group',
        outer_class: "boxes-select boxes-select-short well",
        groups: Vacancy.joins(:ngo).pluck('DISTINCT name').sort!,
        input_field_name: 'filters[ngos.name][]',
        checked_values: (params["filters"]["ngos.name"] rescue []) %>

    <%= submit_tag(value = "Apply", { class: "btn btn-large btn-primary" }) %>
    <!-- <button class="btn btn-large btn-primary">Apply</button>   -->
  </form>
</div>

<div class="col-xs-9">
  <h3>
    <%= @vacancies.count %> vacancies found
    <% if params['filters'].present? %>
      <small>
        <%= link_to "Clear filters", vacancies_path %>
      </small>
    <% end %>
  </h3>
  <table class="table table-hover vacancies">
    <thead>
      <tr>
        <th>#</th>
        <th><%= sortable "title", "Title" %></th>
        <!-- NGO name not easily sortable in different table w/ Rails :( -->
        <th><%= sortable "ngos.name", "NGO" %></th>
        <th><%= sortable "work_region", "Work Region" %></th>
        <th><%= sortable "service", "Service" %></th>
        <th><%= sortable "remote_status", "Remote Work?" %></th>
        <th><%= sortable "when_needed", "When?" %></th>
      </tr>
    </thead>
    <tbody>
      <% @vacancies.each_with_index do |vac, vCount| %>
        <tr onclick="location.href='<%= vacancy_path(vac) %>'">
          <!-- Item number -->
          <td><%= (@vacancies.current_page - 1) * @vacancies.per_page + (vCount + 1) %></td>
          <td><%= vac.title %></td>
          <td><%= vac.ngo.name %></td>
          <td><%= vac.work_region %></td>
          <td><%= vac.service %></td>
          <td><%= vac.remote_status %></td>
          <td><%= vac.when_needed %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @vacancies, renderer: BootstrapPagination::Rails %>
</div>

<%= render 'layouts/footer' %>
