
<% is_mine = current_user?(@vacancy.ngo.user) %>


<%= form_tag("/make_proposal", method: "post", class: "form-horizontal") do %>
  <div class="col-md-offset-1">
    <h2><%= @vacancy.ngo.name %></h2>
    <h3><%= @vacancy.title %></h3>
    <span class="timestamp">
      Listed <%= time_ago_in_words(@vacancy.created_at) %> ago
    </span>
    <br /><br />
  </div>

  <div class="form-group">
    <%= label_tag :skills, "Your Skills", class: "col-sm-3 control-label" %>
    <%= text_field_tag :skills, current_user.volunteer.skill, class: "col-sm-4" %>  
  </div>

  <div class="form-group">
    <%= label_tag :message, "When can you join?", class: "col-sm-3 control-label" %>
    <%= text_field_tag :message, @vacancy.when_needed, class: "col-sm-4" %>  
  </div> 

  <div class="form-group">
    <%= label_tag :join, "Your message", class: "col-sm-3 control-label" %>
    <%= text_area_tag :join, "", class: "col-sm-4" %>  
  </div>

  <!-- Submit Proposal button -->
  <div class="col-md-offset-3">
    <%= link_to "Submit Proposal", "#", class: "btn btn-lg btn-primary"  %>
    <span style="margin:10px;">*In the demo, this button takes no where.</span>
  </div>
<% end %>
