<% provide(:title, 'Register') %>

<div class="col-md-offset-3">
  <h1>Register</h1>
</div>

<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :name, class: "col-sm-4 control-label" %>
      <%= f.text_field :name, class: "col-sm-4", placeholder: "Your public name on StepUp",
        autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "col-sm-4 control-label" %>
      <%= f.text_field :email, class: "col-sm-4", placeholder: "Your login" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-4 control-label" %>
      <%= f.password_field :password, class: "col-sm-4", placeholder: "At least 6 characters" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation", class: "col-sm-4 control-label" %>
      <%= f.password_field :password_confirmation, class: "col-sm-4", placeholder: "Retype your password" %>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="terms_and_conditions">Terms and Conditions</label>
      <div class="col-sm-4">
        <textarea class="form-control" readonly="readonly" rows="3" id="terms_and_conditions"><%= Faker::Lorem.paragraph(25) %></textarea>
      </div>
    </div>

    <div class="col-md-offset-4">
      <label class="checkbox col-offset-md-6 span2">
         <%= f.check_box :terms_and_conditions, class: "bigger bigger-checkbox" %>I have read these Terms and Conditions, and I totally agree!</span>
      </label>
    </div>

    <br />
  <%= f.submit "Create My Account", class: "btn btn-lg btn-primary col-md-offset-4" %>
<% end %>

<%= render 'layouts/footer' %>
