<%= form_for(@ngo, html: {class: "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-3 control-label" %>
    <%= f.text_field :name, class: "col-sm-5", placeholder: "NGO name for job postings" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_phone, class: "col-sm-3 control-label" %>
    <%= f.text_field :contact_phone, class: "col-sm-5", placeholder: "NGO contact phone number" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_city, class: "col-sm-3 control-label" %>
    <%= f.text_field :contact_city, class: "col-sm-5", placeholder: "NGO contact city" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_country, class: "col-sm-3 control-label" %>
    <%= f.text_field :contact_country, class: "col-sm-5", placeholder: "NGO contact country" %>
  </div>

  <%= f.submit "Create Profile", class: "btn btn-large btn-primary" %>
<% end %>
