<%= form_for(@vacancy, html: {class: "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <%= f.text_field :title, class: "col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :service, class: "col-sm-3 control-label" %>
    <%= f.text_field :service, class: "col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :skill, class: "col-sm-3 control-label" %>
    <%= f.text_field :skill, class: "col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :language, class: "col-sm-3 control-label" %>
    <%= f.text_field :language, class: "col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :work_region, class: "col-sm-3 control-label" %>
    <%= f.text_field :work_region, class: "col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :remote_status, class: "col-sm-3 control-label" %>
    <%= f.text_field :remote_status, class: "col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :when_needed, class: "col-sm-3 control-label" %>
    <%= f.text_field :when_needed, class: "col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :desc, class: "col-sm-3 control-label" %>
    <%= f.text_field :desc, class: "col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :is_active, class: "col-sm-3 control-label" %>
    <%= f.check_box :is_active, class: "col-sm-4" %>
  </div>
  <%= f.submit "Create Vacancy", class: "btn btn-large btn-primary" %>
<% end %>