<header class="navbar navbar-fixed-top" role="navigation">
  <div class="container">

    <!-- Combine branding and mobile menu collapse -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="<%= asset_path('StepUpIcon.png') %>" alt="StepUp Logo" width="57" height="57"/>
        StepUp Demo
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <!--form class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form-->
      <ul class="nav navbar-nav navbar-right">
        <!-- li class="active"><a href="#">Home</a></li-->
        <% if !signed_in? || current_user.ngo.nil? %>
          <!--li><img src="<%= asset_path('icomoon-accessibility.png') %>" alt="Post Skill" class="menu-img"/></li-->
          <li><a href="#">Post Skill</a></li>
        <% end %>
        <% if !signed_in? || current_user.volunteer.nil? %>
          <!--li><img src="<%= asset_path('icomoon-user2.png') %>" alt="Post Vacancy" class="menu-img"/></li-->
          <li><%= link_to "Post Vacancy", new_vacancy_path %></li>
        <% end %>

        <% if !signed_in? %>
          <li><%= link_to "Sign in", signin_path %></li>
          <li><%= link_to "Register", register_path %></li>
          <li><a href="#"><img class="navbar-right" src="<%= asset_path('signin_with_linkedin.png') %>"></a></li>
        <% end %>

        <% if signed_in? %>
          <!--li><span class="glyphicon glyphicon-envelope"></span></li-->
          <li><a href="#">Messages <span class="badge">2</span></a></li>

          <li id="fat-menu" class="dropdown">
            <!--li><img src="<%= asset_path('icomoon-user3.png') %>" alt="My Account" class="menu-img"/></li-->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% end %>

      </ul>
    </div><!--/.navbar-collapse -->
  </div><!--/container-->

</header>
